* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #0096c7;
    line-height: 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 30px;
}

.choices {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices:hover {
    background-color: #023e8a;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 5rem;
    margin-left: 44px;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #90e0ef;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}